@page
@model BullsAndCows.Pages.Game.PlayModel
@{
    ViewData["Title"] = "Play";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="text-align:center;">Bulls and Cows</h2>
<div class="card mx-auto" style="width: 50em; background-color:#444444">
    <div class="card-body" style="color:#fff;" id="gamingField">
        
    </div>
</div>
<div class="alert alert-danger" role="alert" id="errorMessage" style="display:none">
</div>
<div class="alert alert-success" role="alert" id="successAlert" style="display:none">
</div>
<div class="alert alert-primary" role="alert" id="loading" style="display:none">
    Loading...
</div>


<br />
<h3>Rules of the Game</h3>
<ul>
    <li>
        Bulls and cows is a lot like the commercial game Mastermind™️,
        but using four-digit numbers instead of coloured pegs.
    </li>
    <li>
        In this version, you play head-to-head with the computer, taking alternate turns to guess each other's number.
    </li>
    <li>
        The winner is the first player to guess their number. You always play first and so have a small advantage.
    </li>
    <li>
        Each guess is marked according to how many bulls (that is correct digits in correct locations) and how many cows (that is correct digits but in the wrong position) are present in the guess.
        The number of bulls and cows for each guess is displayed in red to the right of the guess.
    </li>
    <li>
        To play the game, first enter a number for the computer to guess (it doesn't cheat!)
        at the top of the table, then enter your guesses at the bottom of your column.
    </li>

</ul>

<script src="~/js/Game/game.js"></script>
